.custom-scrollbar {
  /* This enables vertical scrollbar */
  /* Customize scrollbar track */
  ::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }

  /* Customize scrollbar handle */
  ::-webkit-scrollbar-thumb {
    background-color: #1d4ed8; /* Color of the scrollbar handle */
    border-radius: 6px; /* Radius of the scrollbar handle */
  }
}
